ansi2html==1.8.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
backports.zoneinfo==0.2.1
Brotli @ file:///D:/bld/brotli-split_1610110784919/work
certifi==2022.5.18.1
cffi==1.15.1
charset-normalizer==2.1.0
click==7.1.2
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1605902088619/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
dash==2.6.0
dash-bootstrap-components @ file:///home/conda/feedstock_root/build_artifacts/dash-bootstrap-components_1613239937691/work
dash-core-components==2.0.0
dash-extensions==0.0.46
dash-html-components==2.0.0
dash-renderer @ file:///home/conda/feedstock_root/build_artifacts/dash-renderer_1611094782021/work
dash-table==5.0.0
decorator==4.4.2
ExifRead==2.1.2
fastjsonschema==2.16.1
Fiona==1.8.18
Flask==1.1.2
Flask-Caching==1.10.0
Flask-Compress @ file:///home/conda/feedstock_root/build_artifacts/flask-compress_1613569273720/work
fonttools @ file:///D:/bld/fonttools_1638544517672/work
future @ file:///D:/bld/future_1610147454374/work
GDAL==3.2.1
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1614589434390/work
gpsphoto==2.2.3
gunicorn==20.0.4
idna==3.3
importlib-resources==5.8.0
ipykernel @ file:///C:/ci/ipykernel_1596190155316/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1614393744923/work
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi @ file:///D:/bld/jedi_1610146948662/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1612119311452/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
jsonschema==4.7.2
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1615693636836/work
jupyter-core @ file:///D:/bld/jupyter_core_1612125450516/work
jupyter-dash==0.4.2
kiwisolver @ file:///D:/bld/kiwisolver_1635836839743/work
llvmlite==0.37.0
MarkupSafe @ file:///D:/bld/markupsafe_1610127683324/work
matplotlib @ file:///D:/bld/matplotlib-suite_1639359275746/work
more-itertools==8.7.0
munch==2.5.0
munkres==1.1.4
nbformat==5.4.0
nest-asyncio==1.5.5
numba @ file:///D:/bld/numba_1633674690718/work
numpy @ file:///D:/bld/numpy_1612953165809/work
olefile==0.46
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas @ file:///D:/bld/pandas_1614698105739/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1607618318316/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
piexif==1.1.3
Pillow @ file:///C:/ci/pillow_1602770972588/work
plotly==5.9.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1615486796966/work
pycparser==2.21
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1615243893546/work
pynndescent @ file:///home/conda/feedstock_root/build_artifacts/pynndescent_1634311711350/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
pyproj @ file:///D:/bld/pyproj_1604702648085/work
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyreadr==0.4.6
pyrsistent==0.18.1
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
pytz-deprecation-shim==0.1.0.post0
pywin32==300
PyYAML==5.4.1
pyzmq @ file:///D:/bld/pyzmq_1614611907285/work
requests==2.28.1
retrying==1.3.3
rpy2==3.5.2
Rtree @ file:///D:/bld/rtree_1610147302815/work
scikit-learn @ file:///D:/bld/scikit-learn_1611079981849/work
scikit-surprise==1.1.1
scipy @ file:///C:/bld/scipy_1609458016927/work
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
Shapely==1.7.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
spyder-kernels @ file:///D:/bld/spyder-kernels_1613943744504/work
tenacity==8.0.1
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tornado @ file:///D:/bld/tornado_1610094858390/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
traitlets==5.3.0
tzdata==2022.1
tzlocal==4.2
umap-learn @ file:///D:/bld/umap-learn_1635955545948/work
unicodedata2 @ file:///D:/bld/unicodedata2_1637177842659/work
urllib3==1.26.10
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
Werkzeug==1.0.1
wincertstore==0.2
zipp==3.8.1
